#welcomeText {
  font-style: normal;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
}

#subWelcomeText {
  font-style: normal;
  text-align: center;
  font-weight: bold;
}

#textboxCenter {
  text-align: center;
}

#addToFavoriteButton {
  background-color: #008CBA;
  color: white;
  padding: 15px 32px;
  text-align: center;
  border: none;
  font-weight: bold;
}

#bookid {
  font-weight: bold;
  font-style: italic;
  font-size: 35px;
}

#loadingscreen {
  font-style: normal;
  text-align: center;
  font-weight: bold;
}

.bookInfo {
  font-size: 30px;
}

.favBookList {
  font-style: normal;
  font-size: 20px;
}

body {
  background-color: #A9A9A9;
}
